body {
    width: 150px;
    font-size: 5pt;
    background: #000000;
}

a {
    font-family: monospace;
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: blue;
}
